<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <log4net>
    <!-- Az appenderek fogják a beérkező napló üzeneteket a megfelelő helyre továbbítani -->
    <!-- https://logging.apache.org/log4net/release/config-examples.html -->
    <appender name="consoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>      
    </appender>
    <appender name="coloredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="FATAL" />
        <foreColor value="Red" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <!--a debug és a felette nem definiált üzenetekre igaz: Debug, Info Warn-->
      <mapping>
        <level value="DEBUG" />
        <backColor value="Green" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>    
    <root>
      <!--Csak a warn és afeletti üzeneteket jeleníti meg-->
      <!--<level value="WARN" />-->
      <!--Minden üzenetet megjelenít-->
      <level value="ALL" />
      <!--csak azok az appenderek fognak működni, amiket innen meghivatkozunk-->
      <!--<appender-ref ref="consoleAppender" />-->
      <appender-ref ref="coloredConsoleAppender" />
    </root>
  </log4net>
  <!--log4net debug-->
  <!--megkérjük log4net-et, hogy debug naplót írjon-->
  <appSettings>
    <add key="log4net.Internal.Debug" value="true" />
  </appSettings>
  <!--ide fogja írni a naplót-->
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterListener" type="System.Diagnostics.TextWriterTraceListener" initializeData=".\\log4net.log" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>